# --- GENERAL ---
.vscode/
.idea/
.DS_Store

# --- PYTHON / BACKEND ---
# Agregamos el prefijo 'Backend/' si ese es el nombre de tu carpeta
Backend/venv/
Backend/__pycache__/
Backend/*.pyc
Backend/*.db
Backend/.pytest_cache/
Backend/.env

# --- FLUTTER / MOBILE ---
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig